  
  *{
    padding: 0px;
    margin: 0px;
    color: rgb(187, 179, 179);
    }
    #navbar{
        height: 70px;
        background-color:#0f1111;
    }
    button{
        background-color:#ed9623;
    }
    #logo{
        color: #f08804;
        font-size: 30px;
    }
   a{
    margin-right: 250px;
    text-decoration: none;
   }
  .contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
   display: inline-block;

}
      #content{
        height: 720px;

}    
    
footer{
    background-color: #0f1111;
    text-align: center;
}
