body{
text-align: center;
}
div{
    height:50px;
    width:50px;
   display: inline-block;
    border: 2px solid black;
}
#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#box1{
    background-color: rebeccapurple;
}
#box2{
    background-color: aqua;
}
#box3{
    background-color: beige;
}
#box4{
    background-color:pink;
}
#box5{
    background-color: darkkhaki;
}