body{
    text-align: center;
    }
    div{
        height:50px;
        width:50px;
       display: inline-block;
        border: 2px solid black;
    }
    #container{
        width: 800px;
        height: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #box1{
        background-color: rebeccapurple;
    }
    #box2{
        background-color: aqua;
    }
    #box3{
        background-color: beige;
    }
    #box4{
        background-color:pink;
    }
    #box5{
        background-color: darkkhaki;
    }
    #box6{
        background-color: black;
    }
    #box7{
        background-color: red;
    }
    #box8{
        background-color: green;
    }
#box9{
    background-color: aquamarine;
}

#box10{
    background-color: blueviolet;
}