h1{
    color: rgb(26, 0, 0);
}

P{
     color: rgb(0, 0, 0);
}
button{
    color: rgb(120, 38, 38);
    background-color: rgb(82, 125, 205);
}
body{
    background-color: rgb(151, 151, 208);
}
