div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
body{
    background-image: url("space-jpg.jpg");
    background-size: cover;
    }